@model Product
@{
}
<div class="container mt-5">
    <h2 class="mb-4">Edit New Product</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" readonly value="@ViewData["Id"]" class="form-control" maxlength="100">
        </div>
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Enter product name" maxlength="100">
            <span asp-validation-for="Name"></span>
        </div>
        
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" asp-for="Price" step="0.01" class="form-control" id="price" placeholder="Enter price" required>
            <span asp-validation-for="Price"></span>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" asp-for="Description" id="description" rows="3" placeholder="Enter product description" maxlength="400"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status">Status</label>
            <select asp-for="Status" class="form-control">
                <option value="1" selected="@Model.Status == 1">Enable</option>
                <option value="0" selected="@Model.Status == 0">Disable</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-select" asp-for="Category">
                <option value="Khac">Khac</option>
                <option value="Quan">Quan</option>
                <option value="Vay">Vay</option>
                <option value="So mi">So mi</option>
                <option value="Phong">Phong</option>
                <option value="Ao khoac">Ao khoac</option>
                <option value="Polo">Polo</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Product" role="button">
            Cancel
        </a>
    </form>
</div>
